<section class="bg-primary" id="about">
    <style>
        .centered-type {
            text-align: center;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">个人介绍</h2>
                <hr class="light">
                <p class="text-faded">广州星海音乐学院古筝专业，音乐教育硕士</p>
                <p class="text-faded">中国古筝艺术考级指导老师</p>
                <p class="text-faded">6年古筝专业演出，12年古筝教学经验</p>
            </div>
        </div>
    </div>
</section>
