<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>欢迎加微信咨询课程或者关注我的小红书和Youtube Channel！</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="images/header.jpg">    
                <i class="fa fa-weixin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.youtube.com/@zhengyi2061" target="_blank">
            <i class="fa fa-youtube-play fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.xiaohongshu.com/user/profile/5ae99146e8ac2b7ae6293fa0?xsec_source=app_share&xhsshare=CopyLink&appuid=5f20a329000000000101c16e&apptime=1734815422&share_id=ba025dc8371b4e7da6f4ddc21c223677" target="_blank">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
