<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="description" lang="zh">心忆古筝教室</h1>
            <h1 class="description" lang="en">Xinyi Guzheng Class</h1>
            <hr>
            <p class="description" lang="zh">我们致力于提供湾区最专业的古筝教学</p>
            <p class="description" lang="en">We provide the best Guzheng teaching in SF Bay Area</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">联系我们</a>
        </div>
    </div>
</header>
