<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-9">
                <a href="https://www.youtube.com/watch?v=emMDwUDaYPQ" class="portfolio-box">
                    <img src="img/portfolio/performance1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                老师演奏
                            </div>
                            <div class="project-name">
                                《权御天下》
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-9">
                <a href="https://www.youtube.com/watch?v=_wIW99rTPaU" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/performance2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                老师演奏
                            </div>
                            <div class="project-name">
                                《梁祝》+《禅院钟声》
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-9">
                <a href="https://www.youtube.com/watch?v=kFV4nYDS6Kg" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/performance3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                老师演奏
                            </div>
                            <div class="project-name">
                                《知否知否》
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-9">
                <a href="https://www.youtube.com/watch?v=tacJKI1el68" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/student_recording1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                学生演奏
                            </div>
                            <div class="project-name">
                                《洞庭新歌》
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-9">
                <a href="https://www.youtube.com/watch?v=GWX6OagbsOs" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/student_recording2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                学生演奏
                            </div>
                            <div class="project-name">
                                《浏阳河》
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-9">
                <a href="https://www.youtube.com/watch?v=nd6FvHKyxYs" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/student_recording3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                学生演奏
                            </div>
                            <div class="project-name">
                                《渔舟唱晚》
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-9">
                <a href="https://www.youtube.com/watch?v=GWX6OagbsOs" class="portfolio-box">
                    <img src="img/portfolio/student1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                学生合影
                            </div>
                            <div class="project-name">
                                2023 Milpitas古筝演出
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-9">
                <a class="portfolio-box">
                    <img src="img/portfolio/student2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                学生合影
                            </div>
                            <div class="project-name">
                                2024 Palo Alto Recital
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-9">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
